<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>사용자 상세 정보</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>사용자 상세 정보</h1>
    <div class="navigation">
        <a href="/list">목록으로</a>
    </div>
    <div class="user-details">
        <p>이름: <span id="userName" th:text="${helloDto.name}"></span></p>
        <p>전화번호: <span id="userPhone" th:text="${helloDto.phone}"></span></p>
        <p>나이: <span id="userAge" th:text="${helloDto.age}"></span></p>
        <p>사용자 ID: <span id="userId" th:text="${helloDto.userId}"></span></p>
        <p>사용자 비밀번호: <span id="password" th:text="${helloDto.password}"></span></p>
    </div>
    <div class="actions">
        <a th:href="@{/update?userId={userId}(userId=${helloDto.userId})}">수정</a>
        <a th:href="@{/delete?userId={userId}(userId=${helloDto.userId})}">삭제</a>
    </div>
</div>
</body>
</html>
