<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>유저 목록 화면</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>유저 목록</h1>
    <form th:object="${memberSearch}" method="get">
        <div>
            <div>
                <input type="text" th:field="*{name}" placeholder="이름"/>
            </div>
            <div>
                <input type="text" th:field="*{userId}" placeholder="사용자 아이디"/>
            </div>
            <div>
                <input type="submit" value="검색" class="submit-button">
            </div>
        </div>
    </form>

    <div class="navigation">
        <a href="/member/register">등록</a>
    </div>

    <ul>
        <li th:each="member : ${memberList}">
            <span th:text="${member.name}">이름</span>
            <span th:text="${member.userId}">사용자 ID</span>
            <span th:text="${member.phone}">전화번호</span>
            <span th:text="${member.age}">나이</span>
            <a href="member.html" th:href="@{/member?userId={userId}(userId=${member.userId})}">상세 보기</a>
        </li>
    </ul>
</div>
</body>
</html>
